{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block titulo %}
    {{ post.titulo }} | Blog
{% endblock %}

{% block conteudo %}
    <!-- POST -->
    <div class="container">
        <div class="row pt-5">
            <div class="col-xl"></div>
            <div class="col-xl-8 text-center">
                <h2>{{ post.titulo }}</h2>
                <h5>{{ post.excerto }}</h5>
                <p class="text-muted mt-4">
                    <small>
                        {{ post.autor }} | {{ post.data }} | {{ post.categoria }}
                    </small>
                </p>
            </div>
            <div class="col-xl"></div>
        </div>

        <div class="row pt-5">
            <div class="col-xl"></div>
            <div class="col-xl-8">

                {% if post.imagem %}
                    <img class="img-fluid pb-5 " src="{{ post.imagem.url }}" alt="{{ post.titulo }}">
                {% endif %}

                {{ post.conteudo|safe }}

            </div>
            <div class="col-xl"></div>
        </div>

        {% if comentarios %}
            <div class="row pt-5">
                <div class="col-xl"></div>
                <div class="col-xl-8">
                    <h2 class="my-3">Comentários ({{ comentarios.count }})</h2>

                    {% for comentario in comentarios %}
                        <h5 class="mb-2 mt-5">{{ comentario.nome }}:</h5>
                        <small class="text-muted">{{ comentario.data }}</small>
                        <p class="mb-1">
                            {{ comentario.comentario }}
                        </p>
                    {% endfor %}

                </div>
                <div class="col-xl"></div>
            </div>
        {% endif %}

        <!-- todo form action test -->
        <!-- todo form hidden -->
        <div class="row pt-5">
            <div class="col-xl"></div>
            <div class="col-xl-8">
                <h2 class="my-3">Deixe um comentário</h2>

                <form method="POST" action="#envia_comentario">
                    {% csrf_token %}
                    {#                    {% for hidden_field in form.hidden_fields %}#}
                    {#                        {{ hidden_field }}#}
                    {#                    {% endfor %}#}
{#                    {% for visible_field in form.visible_fields %}#}
{#                        <div class="form-group">#}
{#                            {{ visible_field.label_tag }}#}
{#                            {{ visible_field }}#}
{#                            {{ visible_field.errors }}#}
{#                        </div>#}
{#                    {% endfor %}#}

                    {% for visible in form.visible_fields %}
                        {{ visible|as_crispy_field }}
                    {% endfor %}

{#                    {{ form }}#}

                    {% include 'parciais/_messages.html' %}
                    <input id="envia_comentario" type="submit" class="btn btn-primary"
                           value="Enviar">

                </form>


            </div>
            <div class="col-xl"></div>
        </div>
    </div>
    <!-- POST -->
{% endblock %}