<!--_footer.html-->

{% load static %}

<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<footer class="bg-primary text-light fixed-bottom">
    <div class="container navbar-dark pt-4">
        <div class="row">
            <div class="col">
                <p class="text-left">Powered by Django</p>
            </div>
            <div class="col">
                <p class="text-right">Made By Bruno Urbano</p>
            </div>
        </div>
    </div>
</footer>
<!--/_footer.html-->
